<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ruah44" />
   <link href="http://feeds.feedburner.com/feedburner/ruah44" rel="alternate" title="ruah44" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">重要的日历缺了一部分: 长期重度强迫重复&习得性无助自疗手帐</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Email: ruah44@outlook.com
        <br />
        虚拟分身：
          <a href="https://ruah0404.wordpress.com/">做梦税</a>,
          <a href="https://ruah44.github.io/">讲话税</a>
        <br />
        君は素敵だ，Charlie Brown.
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://o3o.ca/@ruah44">象</a><br />
      </p>
  </div>
</div>

</body>
</html>
